{{define "title"}}{{.Title}}{{ end }}

{{define "content"}}
    <div class="my-6
               lg:my-12
               container
               px-6
               mx-auto
               flex
               flex-col
               lg:flex-row
               items-start
               lg:items-center
               justify-between
               pb-4
               border-b
               border-gray-300">
        <div>
            <h4 class="text-2xl
                       font-bold
                       leading-tight
                       text-gray-800">
                Short Golang implementation of IATA One Record standard
            </h4>
        </div>
    </div>
    <!-- Page title ends -->
    <div class="container mx-auto px-6">
        <!-- Remove class [ h-64 ] when adding a card block -->
        <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
        <div class="w-full h-64 rounded border-dashed border-2 border-gray-300">
            <!-- Place your content here -->
            <h4 class="text-xl
                       font-bold
                       leading-tight
                       text-gray-800">
                TBD add a description about this server here.
            </h4>
        </div>
    </div>
{{end}}