@tailwind base;
@tailwind components;

@layer components {
    .c-sidebar-list-style {
        @apply
        hover:text-indigo-700
        cursor-pointer
        h-full
        flex
        items-center
        text-sm
        tracking-normal
    }
    .c-table-data-style {
        @apply
        border-y
        border-gray-200
        align-text-top
        text-left
        px-5
        py-3
    }
    .c-form-input {
        @apply
        appearance-none
        block
        w-full
        bg-gray-100
        text-gray-700
        border
        border-gray-200
        rounded
        py-3
        px-4
        leading-tight
        focus:outline-none
        focus:bg-white
        focus:border-gray-500
    }

    .c-form-label {
        @apply
        block
        uppercase
        tracking-wide
        text-gray-700
        text-xs
        font-bold
        mb-2
    }
}

@tailwind utilities;
